<div class="container user-select-none">
  <div class="row d-flex justify-content-center" [style.height]="'80vh'">
    <div class="col-9 col-lg-4 col-md-6 p-3 form-bg align-self-center rounded form-style">
      <p i18n class="lead">Restore Your Password</p>
      <form [formGroup]="this.forgetPasswordForm" (ngSubmit)="onSubmit()" class="example-form p-2">
        <div class="mb-2 " [ngClass]="{'email-form-loader':this.email?.pending}">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label i18n>Email</mat-label>
            <input matInput formControlName="email" i18n-placeholder
              placeholder="Enter your email" name="email">
            <mat-hint *ngIf="emailExist()" class="text-danger">{{messages.email.exist}}</mat-hint>
            <mat-hint *ngIf="emailRequired()" class="text-danger">{{messages.email.required}}</mat-hint>
            <!-- <mat-hint *ngIf="email?.errors?.['email']" class="text-danger">{{messages.email.match}}
            </mat-hint> -->
            <mat-hint *ngIf="email?.errors?.['pattern']" class="text-danger">{{messages.email.pattern}}
            </mat-hint>
            <!-- <mat-hint *ngIf="email?.errors?.['invalidControl']" class="text-danger">{{messages.email.match}}</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-end">
          <button i18n mat-raised-button class="mb-2" [disabled]="submitDisabledIf()"
            color="primary">Restore Now</button>
        </div>
      </form>
    </div>
  </div>
</div>
