.form-bg
{
  background-color: #ecf0f3 !important;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex
{
  box-shadow:inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff !important;
}
.form-style
{
  position: relative;
}

.email-form-loader::after
{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 85px;
  /* right: 35px; */
  border: 2px solid #9e9e9e;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: 0.5s linear infinite spinner;
}
@keyframes spinner{
  100%{
    transform: rotate(360deg);
  }
}
.loader::after
{
  right: 87% !important;
}

