<div class="sidebar-container" [class.sidebar-is-mobile]="isMobile">
  <mat-toolbar color="primary" class="sidebar-toolbar sticky-top" [ngClass]="isNav?'bg-dark':'bg-secondary'">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon>
    </button>
    <h1 class="sidebar-app-name"><button mat-raised-button color="primary" routerLink="" i18n>SHOPOY</button>
    </h1>
    <!-- ========== Start Nav View ========== -->

    <div class="d-flex w-100 justify-content-end" *ngIf="isNav">
      <button i18n-matTooltip matTooltip="Search" matTooltipClass="bg-dark" mat-icon-button data-bs-toggle="modal"
        data-bs-target="#modalId">
        <mat-icon class="text-success" aria-hidden="false" fontIcon="search"></mat-icon>
      </button>
      <button i18n-matTooltip matTooltip="Your Cart" matTooltipClass="bg-dark" class="cart-notify" mat-icon-button
        routerLink="cart">
        <mat-icon aria-hidden="false" [matBadge]="cart.length" [matBadgeHidden]="cart.length<=0"
          [ngClass]="cart.length<=0?'text-secondary':'text-danger'" matBadgeColor="accent" fontIcon="shopping_cart">
        </mat-icon>
      </button>
      <button i18n-matTooltip matTooltip="notifications" matTooltipClass="bg-dark" class="cart-notify" mat-icon-button>
        <mat-icon aria-hidden="false" *ngIf="cart.length<=0" class="text-secondary" fontIcon="notifications" />
        <mat-icon aria-hidden="false" *ngIf="cart.length>0" [matBadge]="cart.length" [matBadgeHidden]="cart.length<=0"
          matBadgeColor="accent" class="text-info" fontIcon="notifications_active" />
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="nav-item dropdown text-warning">
        <mat-icon aria-hidden="false" fontIcon="account_circle"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @if(!isLoggedIn){
        <button mat-menu-item routerLink="account/register">
          <mat-icon aria-hidden="false" fontIcon="person_add"></mat-icon>
          <span i18n>Register</span>
        </button>
        <button mat-menu-item routerLink="account/login">
          <mat-icon aria-hidden="false" fontIcon="perm_identity"></mat-icon>
          <span i18n>LogIn</span>
        </button>
        }
        @else{
        <button mat-menu-item (click)="logout()">
          <mat-icon aria-hidden="false" fontIcon="exit_to_app"></mat-icon>
          <span i18n>LogOut</span>
        </button>
        }
      </mat-menu>
    </div>
    <!-- ========== End Nav View ========== -->
  </mat-toolbar>

  <mat-sidenav-container class="sidebar-sidenav-container" [style.backgroundColor]="'#ecf0f3'"
    [style.marginTop.px]="isMobile ? 56 : 0">
    <mat-sidenav [class.position-fixed]="isNav" [style]="isNav?'top:60px':''" #snav mode="side"
      [fixedInViewport]="isMobile" fixedTopGap="56" [opened]="opened">
      <mat-nav-list>
        <a *ngFor="let link of links" [routerLink]="link.route" mat-list-item>
          <mat-icon aria-hidden="false" mat-list-icon [fontIcon]="link.icon"></mat-icon> {{link.text.toUpperCase()}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="router-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
  aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <div class="w-50 d-flex justify-content-end">
          <h3 i18n class="modal-title mb-1" id="modalTitleId">
            Search</h3>
        </div>
        <div class="w-50 d-flex justify-content-start"><button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-body w-100 justify-content-center">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label i18n>Search</mat-label>
          <input matInput i18n-placeholder placeholder="Search. . .">
          <button i18n mat-icon-button matPrefix>
            <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>