.notFound
{
  background-image: url("/projects/user/public/img/error-404.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
}
.notFound h1,.notFound a{
  font-family: 'Cairo';
}
