<div class="container user-select-none">
  <div class="row d-flex justify-content-center" [style.height]="'85vh'">
    <div class="col-9 col-md-5 p-3 form-bg align-self-center rounded form-style">
      <form [formGroup]="loginForm" (ngSubmit)="submit()" class="example-form p-2">
        <div class="mb-2" [ngClass]="{'form-loader':this.userName?.pending}">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label i18n>User Name</mat-label>
            <input matInput i18n-placeholder formControlName="username" placeholder="Enter your name" name="usename">
            <mat-hint *ngIf="userNameRequired()" class="text-danger">{{messages.username.required}}</mat-hint>
          </mat-form-field>
        </div>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label i18n>Enter Your Password</mat-label>
            <input matInput i18n-placeholder formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint *ngIf="passwordRequired()" class="text-danger">{{messages.password.required}}</mat-hint>
          </mat-form-field>
        </div>
        <div class="mb-2">
          <mat-checkbox class="example-margin" formControlName="rememberMe"><span
              class="text-secondary" i18n>Remember Me</span></mat-checkbox>
        </div>
        <div class="d-flex justify-content-end">
          <button i18n mat-raised-button class="mb-2" [disabled]="submitDisabledIf()"
            color="primary">Submit</button>
        </div>
        <mat-divider></mat-divider>
        <div class="mt-2 mb-2 text-center">
          <button i18n [style.direction]="'ltr !important'" mat-raised-button color="primary"><i
              class="bi bi-facebook me-3"></i>Facebook
          </button>&nbsp;&nbsp;
          <button i18n [style.direction]="'ltr !important'" mat-raised-button color="warn"><i
              class="bi bi-google me-3"></i>Google </button>
        </div>
        <div class="mt-2">
          <span class="lead"><a routerLink="/forget-password"
              class="link-dark" i18n>Forget Password?</a></span>
        </div>
        <div class="mt-4 mb-1 text-center">
          <span i18n class="lead" i18n>Don't Have Account?<a routerLink="/register"
              class="link-primary">SignUp Now</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
