<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-9 text-center">
      <h3 i18n class="tex-secondary">You Have <span class="text-danger">{{cart().length}}</span> Items In Your Cart</h3>
    </div>
    <div class="col-3 justify-content-center text-center">
      <button i18n mat-raised-button [disabled]="cart().length==0" (click)="clearCart()">
        Clear Shopping Cart<mat-icon color="warn">remove_shopping_cart</mat-icon>
      </button>
    </div>
  </div>
  <fieldset class="form-group border p-3">
    <legend i18n class="w-auto px-2">Shopping Cart</legend>
    <table matSort (matSortChange)="sortData($event)"
      class="table table-light shadow table-sm table-responsive text-center align-middle">
      <thead class="table-dark">
        <tr>
          <th i18n>Photo</th>
          <th mat-sort-header="title" i18n>Title</th>
          <th mat-sort-header="price" i18n>Price</th>
          <th mat-sort-header="quantity" i18n>Quantity</th>
          <th mat-sort-header="total" i18n>Total</th>
          <th i18n>Options</th>
        </tr>
      </thead>
      <tbody *ngIf="sortedData().length>0;else empty">
        <tr *ngFor="let item of sortedData();let i=index">
          <td><img src="{{item.product.thumbnail}}" class="img-fluid img-responsive rounded-top" alt="product"></td>
          <td>{{item.product.title}}</td>
          <td>{{item.product.price | currency:'USD':'symbol':'1.2-2'}}</td>
          <td>
            <div class="d-flex w-100">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label i18n>Change Quantity</mat-label>
                <button matPrefix mat-icon-button color="primary" class="mx-2" (click)="minus(i)">
                  <mat-icon matTooltipPosition="left" matTooltip="-1">remove</mat-icon>
                </button>
                <input matInput [(ngModel)]="item.quantity" type="number" class="text-center position-absolute"
                  (change)="detectChange(i)" min="1" value="{{item.quantity}}" placeholder="Choose Quantity"
                  i18n-placeholder>
                <button matSuffix mat-icon-button color="primary" class="mx-2" (click)="plus(i)">
                  <mat-icon matTooltipPosition="right" matTooltip="+1">add</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </td>
          <td>{{item.product.price*item.quantity | currency:'USD':'symbol':'1.2-2'}}</td>
          <td><button class="text-danger" mat-icon-button (click)="delete(i)">
              <mat-icon matTooltip="Delete Cart Line!" i18n-matTooltip matTooltipClass="bg-danger">delete_forever
              </mat-icon>
            </button></td>
        </tr>
      </tbody>
    </table>
    <div class="row mt-3">
      <div class="col-5">
        <h4 i18n>Total Cost:<span class="text-primary">{{total()| currency:'USD':'symbol':'1.2-2'}}</span></h4>
      </div>
      <div class="col-7 text-end">
        <button mat-raised-button class="btn btn-warning mx-2" routerLink="/products" i18n>Continue Shopping
          <mat-icon>shope</mat-icon>
        </button>
        <button mat-raised-button class="btn btn-success mx-2" [disabled]="cart().length<=0" (click)="orderCartNow()"
          i18n>Order Now
          <mat-icon>shopping_basket</mat-icon>
        </button>
      </div>
    </div>
  </fieldset>
</div>
<ng-template #empty>
  <tbody>
    <tr class="fw-bold">
      <td></td>
      <td></td>
      <td class="lead">your cart is empty.</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</ng-template>
<!-- <div class="text-center w-100" *ngIf="loading">
  <app-spinner></app-spinner>
</div> -->